#############################
# Python
#############################

__pycache__/
*.py[cod]
*$py.class

#############################
# Virtual Environment
#############################

.env/
venv/
.venv/

#############################
# Jupyter
#############################

.ipynb_checkpoints/

#############################
# VS Code
#############################

.vscode/

#############################
# PyCharm
#############################

.idea/

#############################
# Python Environment
#############################

.python-version

#############################
# Build Files
#############################

build/
dist/
*.egg-info/

#############################
# Logs
#############################

*.log

#############################
# MLflow
#############################

mlruns/
mlflow.db

#############################
# Feast
#############################

feature_repo/data/registry.db
feature_repo/data/*.db
feature_repo/data/*.sqlite

#############################
# DVC Cache
#############################

.dvc/cache/

#############################
# macOS
#############################

.DS_Store

#############################
# Temporary Files
#############################

*.tmp
*.swp

#############################
# Terraform (Future)
#############################

.terraform/

#############################
# Kubernetes
#############################

*.kubeconfig
